@import '../../styles/colors';

@mixin digit($index) {
  grid-area: digit-#{$index};
}

.key {
  width: 100%;
  height: 100%;
  padding: 2rem 0;
  background: $color-white;
  border: none;
  border-radius: .8rem;
  font-size: 4rem;
  user-select: none;

  @media (min-width: 1000px) {
    padding: 1rem 0;
  }
}

@for $index from 0 through 9 {
  .digitKey-#{$index} {
    @include digit($index);
  }
}

.addKey {
  grid-area: add;
}

.clearKey {
  grid-area: clear;
}

.equalsKey {
  grid-area: equals;
}

.separatorKey {
  grid-area: separator;
}

.subtractKey {
  grid-area: subtract;
}
